:root{
--fundo:#bb85e7;
--cartao-frente:#1E90FF;
--cartao-verso:#87CEFA;
--destaque:#9370DB;
--preto: #000000;
--branco:#F0F8FF;
}

body{
background-color: var(--fundo)
}

footer{
    position: fixed;
    bottom: 0 ;
    background-color:  var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}



